@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 1120px;
    margin: 0 auto;
}

/* Header styles start */

.header-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 20px;
    padding: 40px 40px;
    font-family: SF Pro Display;
}

.header-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    column-gap: 25px;
}

.header-delivery-type {
    text-decoration: none;
    color: black;
}

.header-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}

.header-menu-link {
    text-decoration: none;
    list-style: none;
    color: black;
}

.header-menu-link:hover {
    opacity: 0.7;
}

.header-cart-button {
    border: none;
    background: #120E1F;
    padding: 15px 15px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
    align-items: center;
}

.header-cart-button:hover {
    opacity: 0.7;
}

/* Header styles end */


/* Order styles start */

.order-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 20px;
    align-items: left;
    justify-content: space-between;
    font-family: SF Pro Display;
}

.order-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 10px;
}

.order-form-top,
.order-form-mid,
.order-form-bottom {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
}

input {
    font-family: SF Pro Display;
    border-radius: 20px;
    border: 1px solid gray;
    background: white;
    padding: 10px 20px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form-name,
.form-number,
.form-count-person {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
}

.order-name {
    width: 265px;
}

.order-number {
    width: 360px;
}

.order-count-person {
    width: 360px;
}

.order-adres {
    width: 360px;
}

.order-adres-second {
    width: 265px;
}

.order-date {
    width: 360px;
}

.order-flat {
    width: 265px;
}

.order-entrance {
    width: 170px;
}

.order-floor {
    width: 170px;
}

input:nth-of-type(10) {
    width: 170px;
}

.order-form-send {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.order-button {
    background: black;
    color: white;
    text-align: center;
    width: 550px;
    padding: 20px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.order-button:hover {
    opacity: 0.7;
}

#order-comment {
    width: 360px;
    height: 150px;
}

#order-comment::placeholder {
    position: absolute;
    top: 10px; /* Это будет верхняя граница placeholder */
    left: 10px; /* Отступ слева от левой границы textarea */
}

/* Order styles end */